body{
background-image: url(/images/fundo3.avif);
height: 100vh;
justify-content: center;
align-items: center;
display: flex;
background-position:center ;
background-repeat: no-repeat;
background-size: cover;

}
.caixa{
height: 500px;
justify-content: center;
align-items: center;
display: flex;
width: 1200px;
border-radius: 10px;
background: rgb(24, 23, 23);
gap: 20px;
padding: 10px;

} 
.central{
justify-content: center;
align-items: center;
display: flex;
flex-direction: row;
    flex-direction: column;

}
.caixa img{
width: 300px ;
justify-content: center;
align-items: center;
display: flex;

}
.central p{
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 20px;
    flex-direction: column;
color: white;

}
button{
height: 30px;
width: 150px;
border-radius: 10px; 
border: none;
gap: 50px;
cursor: pointer;

}
.butao{
 display: flex;
 gap: 10px;
padding: 50px;
justify-content: end  ;
align-items: end;

} 
h1{
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: white;
}